.*
*.pyc
*.DS_Store
code/gym_envs/gym-optsb/package.json
code/gym_envs/gym-optsb/gym_optsb.egg-info/top_level.txt
code/gym_envs/gym-optsb/gym_optsb.egg-info/SOURCES.txt
code/gym_envs/gym-optsb/gym_optsb.egg-info/requires.txt
code/gym_envs/gym-optsb/gym_optsb.egg-info/dependency_links.txt
code/track/transport_line/t*/working/*
*.out
*.png
*.gif
code/track/transport_line/theta_*/working/fort*
*.npy
*.npz
*.mat
