.*
*.pyc
code/gym_envs/gym-optsb/package.json
code/gym_envs/gym-optsb/gym_optsb.egg-info/top_level.txt
code/gym_envs/gym-optsb/gym_optsb.egg-info/SOURCES.txt
code/gym_envs/gym-optsb/gym_optsb.egg-info/requires.txt
code/gym_envs/gym-optsb/gym_optsb.egg-info/dependency_links.txt
